/* VARIABLES */
:root {
  --text-color-default: #E0E0E0;
  --text-color-post-date: #808080;
  --text-color-green: #4CB607;
  --text-color-blue: #4577B7;
}

/* GLOBAL CONFIG */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
}

:root {
  font-family: "JetBrains Mono", "DejaVu Sans Mono", monospace, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
}

/* STYLING */
body {
  background-color: #000000;
  color: var(--text-color-default);

  display: flex;
  justify-content: center;
}

.content-wrapper {
  flex: 0 1 80ch;

  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
}

/* HEADER */
.header-buttons {
  display: flex;
  justify-content: right;
  -webkit-justify-content: right;

  padding-top: 0.5em;
}

.header-button {
  flex: 0;
  padding: 1ch;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/* PROMPT */
.prompt {
  font-weight: bold;
  color: var(--text-color-blue);
}

.prompt-symbol {
  font-weight: bold;
  font-size: 1.4em;
  color: var(--text-color-green);
}

/* CONTENT */
.content {
  padding: 1ch;
}

h2 {
  padding-bottom: 1.5em;
  padding-top: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  padding-bottom: 1em;
  text-align: justify;
  line-height: 150%;
}

em {
  font-style: italic;
}

/* POST */
.post-metadata {
  padding-bottom: 2em;
}

.post-header {
  padding-bottom: 0.2em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}

.post-date {
  font-size: 0.9em;
  color: var(--text-color-post-date);
}

/* POST ENTRY */
.post-entry {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 2ch;
  padding-bottom: 0.5em;
}

.entry-title {
  text-transform: uppercase;
}

.entry-title a {
  color: var(--text-color-default);
  text-decoration: none;
}

.entry-date {
  color: var(--text-color-post-date);
}
